language: java

script: mvn clean package -DskipTests=true

script: "mvn cobertura:cobertura"

after_success:
- bash <(curl -s https://codecov.io/bash)

env:
  global:
    - CODECOV_TOKEN=:uuid-repo-token
