<div th:fragment="emailNotifReportFragment" class="col-md-12 col-xs-12">
    <div class="x_content"></div>
    <div class='row'>
        <div class='col-md-12'>
            <br>
            <table id="datatable-buttons"
                   class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Recipient</th>
                    <th>Email Title</th>
                    <th>Log File Name</th>
                    <th>Date Sent</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each= "result, status : ${resultList}">
                    <td th:text="${status.index + 1}"></td>
                    <td th:text="${result.map0}"></td>
                    <td th:text="${result.map1}"></td>
                    <td th:text="${result.map2}"></td>
                    <td th:text="${result.map3}"></td>
                    <td th:text="${result.map4}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

