
<div th:fragment="dashboardFragment" class="col-md-12 col-xs-12">

	<div class="clearfix"></div>

	<div class="x_content">
		<div class="container-fluid">


			

				<div class="row">
					<div class="col-md-3 col-xs-3">
					<span class="border-top">TOP</span>
					</div>
					<div class="col-md-3 col-xs-3">
						<span class="border-top">TOP</span>
					</div>
					<div class="col-md-3 col-xs-3">
						<span class="border-top">TOP</span>
					</div>
					<div class="col-md-3 col-xs-3">
						<span class="border-top">TOP</span>
					</div>
				</div>
			

			<div class="container-fluid">

				<div class="row">
					<div class="col-md-6 col-xs-6">
						<span class="border-down">MIDDLE</span>
					</div>
					<div class="col-md-6 col-xs-6">
						<span class="border-down">MIDDLE</span>
					</div>
				</div>
			</div>


			<div class="container-fluid">

				<div class="row">
					<div class="col-md-6 col-xs-6">
						<span class="border-down">DOWN</span>
					</div>
					<div class="col-md-6 col-xs-6">
						<span class="border-down">DOWN</span>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>