 <!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/template_form_header :: header"></head>
<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"> -->
<!--   <div class="modal-dialog" role="document"> -->
<!--     <div class="modal-content"> -->
<div class="modal-header vertical-align-center">
    <h4 class="text-center" style="color: white;">Stacktrace</h4>
</div>
<div class="modal-body" style="max-width: 1500px;margin: auto; width: 80%;">
    <div class="panel panel-default">
        <div class="panel-body">
               <pre th:text="${stackTrace}"></pre>
        </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-sm" href="/seerrorreport">Close</a>
            </div>
    </div>
    </div>
    </div>
    </div>
</div>
<div th:replace="fragments/template_allscripts :: scripts"></div>
</html>
