<div th:fragment="autoEmailSettingsFormFrag" class="col-md-12 col-xs-12">
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-6">
            Email Recipient(s) <span class>*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-6">
                        <textarea th:text=${result?.recipient} name="recipient"
                                  required placeholder="Email Recipient(s) - separate by commas(,)"
                                  class="form-control col-md-7 col-xs-12 hasclear">
                        </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-6">
            Email Subject <span class>*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <input th:value=${result?.subject} name="subject" type="text"
                   required placeholder="Subject for automated emails"
                   class="form-control col-md-7 col-xs-12 hasclear">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-6">
            Email Message <span class>*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-6">
                        <textarea th:text=${result?.message} name="message"
                                  required placeholder="Automated email message content"
                                  class="form-control col-md-7 col-xs-12 hasclear" rows="8">
                        </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-6">
            Email Log Path <span class>*</span>
        </label>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <input th:value=${result?.pathToEmailLog} name="pathToEmailLog" type="text"
                   required placeholder="Email log path to save email logs"
                   class="form-control col-md-7 col-xs-12 hasclear">
            <div id="insertMessage"></div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-success ">Save</button>
        </div>
    </div>
</div>