<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/template_form_header :: header"></head>
<div class="modal-header vertical-align-center">
    <h4 class="text-center" style="color: white;">New Message</h4>
</div>
<div class="modal-body" style="max-width: 1500px;margin: auto; width: 50%;">
    <div class="panel panel-default">
        <form method="POST" action="/sendadhocemail" enctype="multipart/form-data">
            <input th:value="${logFileName}" name="logFileName" hidden>
            <div class="panel-body">
                <div class="form-group ">
                    <h5>
                        <b>Log file reference:</b> <span th:text="${logFileName}"></span>
                    </h5>
                    <label for="title" class="col-form-label">Email Title:</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                <div class="form-group">
                    <label for="message" class="col-form-label">Message:</label>
                    <textarea name="body" class="form-control" id="message" required></textarea>
                </div>
                <span class="blue">
                    Upload only up to 1MB attachments.
                </span>
            </div>
            <div class="modal-footer">
                <div class = "col-md-8 text-left">
                <label>
                    <input type="file" name="attachment" class="form-control" style="width: 225px; height: 33px;"/>
                </label>
                </div>
                <div class = "col-md-4">
                <button type="submit" class="btn btn-primary btn-sm">Send</button>
                    <a href="javascript:history.back()" class = "btn btn-warning btn-sm">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/template_allscripts :: scripts"></div>
</html>
