<div th:fragment="bmLogFragment" class="col-md-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        <small>Today's Report</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content"></div>
    <div class='row'>
      <div class='col-md-12'>
        <br>
        <table id="datatable-buttons"
               class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>No.</th>
            <th>Batch Manager Log</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Running Time(Min)</th>
            
          </tr>
          </thead>
          <tbody>
          <tr th:each="report, status : ${summaryList}">
            <td th:text="${status.index + 1}"></td>
            <td><a th:text="${report.logFileName}" href="#myModal"></a></td>
            
            <td th:text="${#dates.format(report.startTime, 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(report.endTime, 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:switch="${report.batchStatus}">
            	<p class="label label-danger"th:case="1">Failed</p>
  				<p class="label label-success" th:case="2">Successful</p>
  				<p class="label label-info" th:case="3">In Progress</p> 
            </td>
            <td th:text="${#numbers.formatDecimal(report.runningTime,2,2)}"></td>
            
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

