<div th:fragment="emailSchedulerSettingsFragment" class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Email Scheduler Configuration
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                                        data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a></li>
                        <li><a href="#">Settings 2</a></li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form action="/emailscheduler" method="post"
                  id="ajaxForm" data-parsley-validate
                  class="form-horizontal form-label-left validateSchedulerInput">

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6"
                    >Year <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input th:value=${result?.year} name="year" type="text"
                               required="required" placeholder="Year (Use * for every year)"
                               class="form-control col-md-7 col-xs-12 validate hasclear" maxlength="4">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6">Month <span
                            class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <select name="month" required="required"
                                class="select2_single form-control" tabindex="-1" title="Month">
                            <option th:selected="(${result?.month} == '*')" value="*">Every Month</option>
                            <option th:selected="(${result?.month} == 1)" value="1">January</option>
                            <option th:selected="(${result?.month} == 2)" value="2">February</option>
                            <option th:selected="(${result?.month} == 3)" value="3">March</option>
                            <option th:selected="(${result?.month} == 4)" value="4">April</option>
                            <option th:selected="(${result?.month} == 5)" value="5">May</option>
                            <option th:selected="(${result?.month} == 6)" value="6">June</option>
                            <option th:selected="(${result?.month} == 7)" value="7">July</option>
                            <option th:selected="(${result?.month} == 8)" value="8">August</option>
                            <option th:selected="(${result?.month} == 9)" value="9">September</option>
                            <option th:selected="(${result?.month} == 10)" value="10">October</option>
                            <option th:selected="(${result?.month} == 11)" value="11">November</option>
                            <option th:selected="(${result?.month} == 12)" value="12">December
                            </option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6">Day <span class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <select name="day" required="required"
                                class="select2_single form-control" tabindex="-1" title="Day">
                            <option th:selected="(${result?.day} == '*')" value="*">Everyday</option>
                            <option th:selected="(${result?.day} == 1)" value="1">Monday</option>
                            <option th:selected="(${result?.day} == 2)" value="2">Tuesday</option>
                            <option th:selected="(${result?.day} == 3)" value="3">Wednesday</option>
                            <option th:selected="(${result?.day} == 4)" value="4">Thursday</option>
                            <option th:selected="(${result?.day} == 5)" value="5">Friday</option>
                            <option th:selected="(${result?.day} == 6)" value="6">Saturday</option>
                            <option th:selected="(${result?.day} == 7)" value="7">Sunday</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6"
                           >Hour <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input th:value=${result?.hour} name="hour" type="text"
                               required="required" placeholder="Hour of the day (Use * for every hour)"
                               class="form-control col-md-7 col-xs-12 validate hasclear" maxlength="2"
                               >
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6"
                           >Minute <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input th:value=${result?.minute} name="minute" type="text"
                               required="required" placeholder="Minute of the hour (Use * for every minute)"
                               class="form-control col-md-7 col-xs-12 validate hasclear" maxlength="2"
                               >
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-6"
                           >Second <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input th:value=${result?.second} name="second" type="text"
                               required="required" placeholder="Second of the minute"
                               class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="2"
                               pattern="\d*" max="60">
                        <div id = "insertMessage"></div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-success ">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>