
<div th:fragment="emailSchedulerSettingsFragment" class="col-md-12 col-xs-12">
 <div class="x_panel">
  <div class="x_title">
   <h2>
    Email Scheduler Configuration <small></small>
   </h2>
   <ul class="nav navbar-right panel_toolbox">
    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    <li class="dropdown"><a href="#" class="dropdown-toggle"
     data-toggle="dropdown" role="button" aria-expanded="false"><i
      class="fa fa-wrench"></i></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Settings 1</a></li>
      <li><a href="#">Settings 2</a></li>
     </ul></li>
    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
   </ul>
   <div class="clearfix"></div>
  </div>
  <div class="x_content">
   <br />
   <form action="/adminEmailSettings" method="post"
    id="ajaxForm" data-parsley-validate
    class="form-horizontal form-label-left">

<div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-port">Year <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.port} name="year" type="text"
       required="required" placeholder="Year"
       class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="4" pattern="\d*">
     </div>
    </div>
    
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6">Month <span class="required">*</span></label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <select name="month" required="required"
       class="select2_single form-control" tabindex="-1">
<!--        <option></option> -->
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 1)" value="1">January</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 2)" value="2">February</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 3)" value="3">March</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 4)" value="4">April</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 5)" value="5">May</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 6)" value="6">June</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 7)" value="7">July</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 8)" value="8">August</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 9)" value="9">September</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 10)" value="10">October</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 11)" value="11">November</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 12)" value="12">December</option>
      </select>
     </div>
    </div>


<div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6">Day <span class="required">*</span></label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <select name="day" required="required"
       class="select2_single form-control" tabindex="-1">
<!--        <option></option> -->
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 1)" value="1">Monday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 2)" value="2">Tuesday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 3)" value="3">Wednesday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 4)" value="4">Thursday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 5)" value="5">Friday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 6)" value="6">Saturday</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 7)" value="7">Sunday</option>
      </select>
     </div>
    </div>
    
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-port">Hour <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.port} name="hour" type="text"
       required="required" placeholder="Hour of the day"
       class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="4" pattern="\d*">
     </div>
    </div>
    
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-port">Minute <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.port} name="minute" type="text"
       required="required" placeholder="Minute of the hour"
       class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="4" pattern="\d*">
     </div>
    </div>

<div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-port">Second <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.port} name="second" type="text"
       required="required" placeholder="Second of the minute"
       class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="4" pattern="\d*">
     </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
     <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
      <button type="reset" class="btn btn-primary">Reset</button>
      <button type="submit" class="btn btn-success ">Save</button>
     </div>
    </div>

   </form>
  </div>
 </div>
</div>